<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="TGIF.css">
  <title>HOUSE</title>
</head>

<body>
  <div class="container formato_pagina" id="vue-table">
    <nav>
      <div class="row">
        <div class="col-sm-4"><a href="#"><img class="img-responsive" src="descarga.png" alt="Logotipo TGIF"></a></div>
        <div class="col-sm-8 text-right"><a href="mailto:sduarteh46@gmail.com">info@tgif.net</a></div>

      </div>
      <div class="grisEncabezado negritaMenu">
        <div class="navbar grisEncabezado ">
          <ul class="nav navbar-default">
            <li class="col-sm-3"><a href="home.html">Home</a></li>
            <li class="dropdown, col-sm-3"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Congress
                113<strong class="caret"></strong></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="house-page2.html">House</a></li>
                <li><a href="senate-page.html">Senate</a></li>
              </ul>
            </li>
            <li class="dropdown, col-sm-3"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Attendance<strong
                  class="caret"></strong></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="house_attendance.html">House</a></li>
                <li><a href="senate-attendance.html">Senate</a></li>
              </ul>
            </li>
            <li class="dropdown, col-sm-3"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Party
                Loyalty<strong class="caret"></strong></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="house-party-loyalty.html">House</a></li>
                <li><a href="senate-loyalty.html">Senate</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <!--Table container-->
    <div class="col-sm-12 columnasFlexing">
      <div class="columnas6A">
        <h2>Attendance</h2>
        <p class="justificado">The Constitution specifies that a majority of members constitutes a quorum to do business
          in each house.
          Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most
          cases, debates continue even if a majority is not present.</p>

        <p class="justificado">The Senate uses roll-call votes; a clerk calls out the names of all the senators, each
          senator stating
          "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal
          matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by
          electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may
          (if present) cast the tiebreaking vote.</p>

      </div>
      <div class="col-sm-6 columnas6A">

        <h2>Senate at a glance</h2>
        <table class="table table-bordered">
          <thead id="numbers-votes" class="thead-light">
            <tr>
              <th class>Party</th>
              <th>Number of Reps</th>
              <th>% Voted with Party</th>
            </tr>
          </thead >
          <tbody>
            <tr v-for="partido in partidosVue" class="table-bordered">
              <td class="negritaMenu">{{ partido.id }}</td>
              <td>{{ partido.number }}</td>
              <td>{{ partido.votes_with_party }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="col-sm-12 columnasFlexing">
      <div class="col-sm-6 columnas6Aa">
        <h2>Least Engaged (Bottom 10% Attendance)</h2>
        <table class="table table-striped table-bordered">
          <thead id="least_engaged" class="thead-light">
            <tr class="negritaMenu">
              <th>Name</th>
              <th>Number of Missed Votes</th>
              <th>% Missed</th>
            </tr>
          
          </thead>
          <tbody>
          <tr v-for="miembro in miembrosLeast" class="table-bordered">
              <td class="negritaMenu">{{  checkName(miembro)  }}</td>
              <td>{{ miembro.missed_votes }}</td>
              <td>{{ miembro.missed_votes_pct }}</td>
            </tr>
          </tbody>

        </table>

      </div>
      <div class="col-sm-6 columnas6Aa">
        <h2>Most Engaged (Top 10% Attendance)</h2>
        <table class="table table-striped table-bordered">
          <thead id="most_engaged" class="thead-light ">
            <tr class="negritaMenu">
              <th>Name</th>
              <th>Number of Missed Votes</th>
              <th>% Missed</th>
            </tr>
          </thead>
          <tr v-for="miembro in miembrosMost" class="">
              <td class="negritaMenu">{{ checkName(miembro) }}</td>
              <td>{{ miembro.missed_votes }}</td>
              <td>{{ miembro.missed_votes_pct }}</td>
            </tr>

        </table>

      </div>
    </div>




    <div class="col-sm-12 gris">
      <div>
        <p class="text-center negritaMenu">TGIF 2019|All Rights Reserved</p>
      </div>
    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="vueTGIF.js"></script>
</body>

</html>